.margin-20{
    margin: 20px 0
}
.my-background {
    background-color: #823710;
}
.login-form{
    padding: 50px;
    margin-top: 10%;
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.login-form > div{
    margin-bottom: 30px
}